#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

  #btn-fermer{
    position : absolute;
    height:8px;
    top: 0%;
    right: 0%;
  }
  .iframe1{
    position : bottom;
    height: 600px;
    width: 900px;
    border: 25px solid #d3d3d3;
  }
  .elembloc{
    position : top;
    height: 2px;
    width: 200px;
    border: 10px solid #000000;
  }

  .postit{
    height: 200px;
    width: 200px;
    background-color: #ffee00;
    font-size : 1em;
    padding-left: 5px;
  }