body{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image:  url("../img/back.jpg");
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
    height: 100%;
}

#Navbar{
    width: 100%;
    background-color: #383c3f;
}


#projetColor{
    color: rgb(212, 212, 212);
    margin-left: 5px;
}

#txtColor{
    color: rgb(212, 212, 212);
}

#Desktop{
    color: rgb(212, 212, 212);
}

#myDesktop{
    color: rgb(212, 212, 212);
}

#userLog{
    float: right;
    margin-right: 15px;
    height: 38px;
    width: auto;
    display: block;
}


/*  <------------------------------------------> */ 

.lobby{
    border: solid;
    width: 98%;
    height: 95%;
    margin: 1% 1%;
    float: left;
}

.imgLobby{
    width: 50%;
    height: 600px;
    background-color: white;
    float: left;
}

.carousel-inner{
    max-width: 100%;
    max-height: auto;
}

.textImgLobby{
    width: 49%;
    height: 300px;
    background-color: brown;
    margin-left: 1%;
    float: left;
}

.loginLobby{
    width: 337px;
    height: 200px;
    background-color: white;
    box-shadow: 1px 1px 10px #aaa;
    margin-left: 1%;
    top: 78px;
    right: 22px;
    position: absolute;
    display: block;
}

.signIn{
    text-align: center;
}

.formLog{
    height: 128px;
    width: 100%;
}

.userNameLog{
    margin: 0 auto;
    width: 280px;
    height: 45px;
    padding-left: 0px;
}

#userNameLog{
    float: left;
    margin-bottom: 5px;
}

#username{
    float: right;
    height: 30px;
}

#passwordErrorLog{
    margin: 0 0 0 0;
    float: right;
    width: 183.6px;
    font-size: 10px;
    color: red;
}

.innerPasswordLog{
    height: 30px;
}

.outerPasswordLog{
    height: 15px;

}

.PasswordLog{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#passwordLog{
    float: left;
    margin-bottom: 7.5px;
}

#password{
    float: right;
}

.confPasswordLog{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#confirmPasswordLog{
    float: left;
    height: 40px;
}

#ConfirmPasswordLog{
    float: right;
}

.textLobby{
    width: 49%;
    height: 240px;
    margin-top: 10px;
    margin-left: 1%;
    float: left;
    background-color: chocolate;
}

#signUp_buttonLog{
    float: left;
    width: 68.06px;
    height: 38px;
}

#signUpLien{
    float: left;
    margin-top: 4%;
    margin-left: 5%;
    width: 67px;
}

#signColor{
    color: black;
    font-size: 18px;
    margin-right: 0px;
}

.buttonEnterSign{
    margin: 0 auto;
    width: 150px;
   
    height: 38px;;
}

#userText{
    margin-bottom: 5px;
    align-items: center;
    width: 250px;
    margin: 3px auto;
}

.list-group-item{
    background-color: transparent!important;
}

.list-group{
    margin-left: 10px;
    margin-right: 10px;
}

#offline{
    border: none;
    background-color: red;
    height: 30px;
    font-size: 12px;
    color: white;
    text-align: center;
}

#online{
    border: none;
    background-color:green;
    height: 30px;
    font-size: 12px;
    color: white;
    text-align: center;
}

#newUser{
    color: grey;
    border: none;
    height: 55px;
    background-color: transparent;
}

.buttonAdmin{
    margin-right: 5px;
    margin-left: 5px;
}

#myTeamsLobby{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#mesEquipesDiv{
    height: 86%;
    margin: 1%;
}

#userText{
    margin-bottom: 10px;
}

#copyrights {
    bottom: 0;
    position: absolute;
    width: 100%;
}