/* Copyrights */

#copyrights {
    background: #22A7F0;
    padding: 20px 0;
    text-align: center;
    height: 10%;
  }
  
  #copyrights p {
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
  }
  
  #copyrights a {
    color: #fff;
  }
  
  .credits {
    color: #fff;
  }
  