.desktopLobby{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#desktopNavbar{
    background-color: rgb(170, 170, 170);
    width: 100%;
}

#desktopDropdown{
    margin-left: 0.25%;
    float: left;
    width: auto;
    background-color: transparent;
}

#dropdownMenuButton{
    background-color: transparent;
    border-color: transparent;
    color: black;
}

#desktopList{
    color: black;
}

.workingArea{
  width: 100%;
  height: 100%;
}

#icone{
  height: 100%;
  width: 100%;
}

.headerPost{
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  height: 20px;
  background-color: #585555;
}

.closePost{
  position:absolute;
  height:15px;
}

#btn-agg{
  position : absolute;
  height:8px;
  top: 0%;
  right: 5%;
}
.iframe1{
  position : bottom;
  min-height: 300px;
  min-width: 500px;
}

.divPostit{
  position: absolute;
  box-sizing: 5px 5px 7px rgba(33,33,33,.7);
  background-color: #ffc;
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
}

.divPostit:hover{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
}

.postit{
  padding-left: 3px;
  padding-right: 3px;
  height: 250px;
  width: 250px;
  font-size : 2em;
  background-color: transparent;
  padding-left: 5px;
  border: none;
  z-index:13;
  font-family:"Reenie Beanie",arial,sans-serif;
  
}

#corbeille{
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.titre{
  position : absolute;
  text-align:center;
  size:2.5em;
  font-weight:bold;
  width:100%;
}

#todoDiv{
  position: fixed;
  margin-right: 82px;
  margin-bottom: 5px;
  bottom: 0;
  right: 0;
  z-index: 7;
}

#calendarDiv{
  position: fixed;
  margin-right: 82px;
  margin-bottom: 5px;
  bottom: 0;
  right: 0;
  z-index: 7;
}

.chat{
    background-color: white;
    width: 500px;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 70px;
    margin-bottom: 5px;
    background-color: transparent;
    z-index:7;
}

#chatLobbyText{
  width: 100%;
}

#otherChat{
    margin-bottom: 5px;
}

#userChat{
  margin-bottom: 5px;
  margin-left: 85%;
}

#chatLobby{
  padding-bottom: 0px !important;
}

.ml-auto{
  margin-left: 45%;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #b4b4b4;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 510px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }

#chatButton{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 10px;
}

#showAndHideChat{
  background-color: white;
  border-radius: 8px;
  border-color: white;
}

#todoButton{
  position: fixed;
  bottom: 71px;
  right: 0;
  margin-bottom: 5px;
  margin-right: 10px;
}

#showAndHideToDo{
  background-color: white;
  border-radius: 8px;
  border-color: white;
}

#calendarButton{
  position: fixed;
  bottom: 141px;
  right: 0;
  margin-bottom: 5px;
  margin-right: 10px;
}

#showAndHideCalendar{
  background-color: white;
  border-radius: 8px;
  border-color: white;
}
