body{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image:  url("../img/back.jpg");
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

main{
    width: 100%;
    height: 100%;
}

#Navbar{
    width: 100%;
    background-color: #383c3f;
}


#projetColor{
    color: rgb(212, 212, 212);
    margin-left: 5px;
}

#txtColor{
    color: rgb(212, 212, 212);
}

#Desktop{
    color: rgb(212, 212, 212);
}

#myDesktop{
    color: rgb(212, 212, 212);
}

#userLog{
    float: right;
    margin-right: 15px;
    height: 38px;
    width: auto;
    display: block;
}


/*  <------------------------------------------> */ 


.loginDiv{
    position: relative;
    margin: 10% auto;
    width: 400px;
    height: 300px;
    zoom: 125%;
    bottom: 0;
    background-color: white;
    box-shadow: 1px 1px 10px #aaa;
}

.formSign{
    height: 100%;
    width: 100%;
}

.headSign{
    width: 200px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px auto;
}

.titreG{
    float: right;
    margin-top: 45px;
    width: 90px;
    height: 65px;
    font-size: 25px;
    font-weight: 600;
}

#userName{
    float: left;
    margin-bottom: 5px;
}


.userNameLog{
    margin: 0 auto;
    width: 280px;
    height: 45px;
    padding-left: 0px;
}

#userNameLog{
    float: left;
    margin-bottom: 5px;
}

#username{
    float: right;
    height: 30px;
}

.PasswordLog{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#passwordLog{
    float: left;
    margin-bottom: 7.5px;
}

#password{
    float: right;
}

#passwordError{
    margin: 0 0 0 0;
    float: right;
    width: 183.6px;
    font-size: 10px;
    color: red;
}

.innerPassword{
    height: 30px;
}

.outerPassword{
    height: 15px;

}

#signUp_button{
    margin: 10px auto;
    width: 150px;
    height: 38px;
}

#signUpLien{
    float: left;
    margin-top: 4%;
    margin-left: 5%;
    width: 67px;
}

#signColor{
    color: black;
    font-size: 18px;
    margin-right: 0px;
}

#signUp_buttonLog{
    float: left;
}

/* Copyrights */

#copyrights {
    bottom: 0;
    position: absolute;
    width: 100%;
  }