body{
    background-color: #a3ddcb;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.halfPage{
    background-color: #a3ddcb;
    width: 100%;
    height: 50%;
}

.toUpper{
    font-size: 100%;
    text-align: center;

}

.button{

    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
}












main{
    width: 100%;
    height: 100%;
}

#Navbar{
    width: 100%;
    background-color: #383c3f;
}

#projetColor{
    color: rgb(212, 212, 212);
    margin-left: 5px;
}

#txtColor{
    color: rgb(212, 212, 212);
}

#Desktop{
    color: rgb(212, 212, 212);
}

#myDesktop{
    color: rgb(212, 212, 212);
}

#userLog{
    float: right;
    margin-right: 15px;
    height: 38px;
    width: auto;
    display: block;
}


/*  <------------------------------------------> */ 

.lobby{
    border: solid;
    width: 98%;
    height: 95%;
    margin: 1% 1%;
    float: left;
}

.imgLobby{
    width: 50%;
    height: 600px;
    background-color: white;
    float: left;
}

.carousel-inner{
    max-width: 100%;
    max-height: auto;
}

.textImgLobby{
    width: 49%;
    height: 300px;
    background-color: brown;
    margin-left: 1%;
    float: left;
}

.loginLobby{
    width: 337px;
    height: 200px;
    background-color: white;
    box-shadow: 1px 1px 10px #aaa;
    margin-left: 1%;
    top: 78px;
    right: 22px;
    position: absolute;
    display: block;
}

.signIn{
    text-align: center;
}

.formLog{
    height: 128px;
    width: 100%;
}

.userNameLog{
    margin: 0 auto;
    width: 280px;
    height: 45px;
    padding-left: 0px;
}

#userNameLog{
    float: left;
    margin-bottom: 5px;
}

#username{
    float: right;
    height: 30px;
}

#passwordErrorLog{
    margin: 0 0 0 0;
    float: right;
    width: 183.6px;
    font-size: 10px;
    color: red;
}

.innerPasswordLog{
    height: 30px;
}

.outerPasswordLog{
    height: 15px;

}

.PasswordLog{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#passwordLog{
    float: left;
    margin-bottom: 7.5px;
}

#password{
    float: right;
}

.confPasswordLog{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#confirmPasswordLog{
    float: left;
    height: 40px;
}

#ConfirmPasswordLog{
    float: right;
}

.textLobby{
    width: 49%;
    height: 240px;
    margin-top: 10px;
    margin-left: 1%;
    float: left;
    background-color: chocolate;
}

#signUp_buttonLog{
    float: left;
    width: 68.06px;
    height: 38px;
}

#signUpLien{
    float: left;
    margin-top: 4%;
    margin-left: 5%;
    width: 67px;
}

#signColor{
    color: black;
    font-size: 18px;
    margin-right: 0px;
}

.buttonEnterSign{
    margin: 0 auto;
    width: 150px;
   
    height: 38px;;
}

.infoSite{
    float: left;
    margin-left: 47%;
    width: 882px;
    height: 2%;
    color: rgb(129, 129, 129);
}