main{
    width: 100%;
    height: 100%;
}

.signUp {
    position: relative;
    margin: 8% auto;
    width: 400px;
    height: 450px;
    zoom: 125%;
    background-color: white;
    box-shadow: 1px 1px 10px #aaa;
}

.loginDiv{
    position: relative;
    margin: auto auto;
    width: 400px;
    height: 300px;
    zoom: 125%;
    bottom: 0;
    background-color: white;
    box-shadow: 1px 1px 10px #aaa;
}

.formSign{
    height: 450px;
    width: 400px;
}

.headSign{
    width: 200px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px auto;
}

.titreG{
    float: right;
    margin-top: 45px;
    width: 90px;
    height: 65px;
    font-size: 25px;
    font-weight: 600;
}

.userName{
    margin: 0 auto;
    width: 280px;
    height: 45px;
    padding-left: 0px;
}

#userName{
    float: left;
    margin-bottom: 5px;
}

#UserName{
    float: right;
    height: 30px;
}

.name{
    margin: 0 auto;
    width: 280px;
    height: 45px;
}

#name{
    float: left;
    margin-bottom: 7.5px;
}

#Name{
    float: right;
}

.lastName{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#lastName{
    float: left;
    margin-bottom: 7.5px;
}

#LastName{
    float: right;
}

.Password{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#password{
    float: left;
    margin-bottom: 7.5px;
}

#Password{
    float: right;
}

.confPassword{
    margin: 0 auto;
    width: 280px; 
    height: 45px;
}

#confirmPassword{
    float: left;
    height: 40px;
}

#ConfirmPassword{
    float: right;
}

#signUp_button{
    margin: 10px auto;
    width: 68.06px;
    height: 38px;
}

#passwordError{
    margin: 0 0 0 0;
    float: right;
    width: 183.6px;
    font-size: 10px;
    color: red;
}

.innerPassword{
    height: 30px;
}

.outerPassword{
    height: 15px;

}

/* Copyrights */

#copyrights {
    background: #22A7F0;
    padding: 20px 0;
    text-align: center;
  }
  
  #copyrights p {
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
  }
  
  #copyrights a {
    color: #fff;
  }
  
  .credits {
    color: #fff;
  }