  /* Remove margins and padding from the list */
  #todoUl {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  #todoUl, .todoLi {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  #todoUl:nth-child(odd), .todoLi:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  #todoUl:hover, .todoLi:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  #todoUl.checked, .todoLi.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #todoUl.checked::before, .todoLi.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    width: 44px;
    height: 100%;
  }

  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .description {
    position: absolute;
    right: 15%;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .description:hover {
    background-color: #f44336;
    color: white;
  }
  /* Style the header */
  #todoLobby {
    background-color: #6d6d6d;
    padding: 10px 10px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  #todoLobby:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  #todoInput, #todoDescription{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }